* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f1f5f9;
}


.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header p {
    color: #555;
}



.box {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border-left: 4px solid #2563eb;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}


input,
select,
button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 16px;
}


button {
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
    transform: translateY(-2px);
}

button,
.box {
    transition: all 0.3s ease;
}




.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background: white;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    margin: 20% auto;
    position: relative;
    text-align: center;
    animation: fadeScale 0.3s ease;
}

@keyframes fadeScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#closeModal {
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 22px;
    color: #666;
    cursor: pointer;
}

#closeModal:hover {
    color: #000;
}


#formMessage {
    margin-top: 10px;
    font-weight: bold;
}


@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }

    .modal-content {
        margin: 15% auto;
    }
}


@media (min-width: 1024px) {
    .container {
        max-width: 800px;
    }

    h1 {
        font-size: 32px;
    }
}